body{
  max-width: 960px;
  margin: auto;
  margin-top: 90px;
  font-family: Roboto;
  background-color: rgb(231, 231, 231);
}

header {
  font-family: inherit;
  width: 100vw;
  left: 0;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 26, 26);
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header_kanca{
  display: flex;
  align-items: center;
  height: inherit;
}
.header_company{
  font-size: 50px;
  margin-left: 20px;
  user-select: none;
}
.header_logo{
  width: 150px;
  height: 80px;
  margin-left: 80px;
}

.page-title{
  position: absolute;
  margin-left: 0;
  display: flex;
  width: 100vw;
  left: 0;
  background-color: rgb(255, 82, 82);
  height: 100px;
  align-items: center;
}

.products-page-title{
  font-size: 30px;
  margin-left: 300px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0px 0px 3px #000000;
}

.product-tab{
    height: 380px;
}

.full-container{
  margin-top: 50px;

}

.product-image{

}

.product-container{
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


.product-name{
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 20px black;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  user-select: none;
  pointer-events: none;
  background-color: rgb(26, 26, 26);
}

.brand-name {/*
  position: relative;
  font-size: 14px; 
  word-wrap: break-word; 
  display: inline-block;
  padding-left: 5px;*/
  object-fit:fill;
  height: 20px;
  width: 70px;
}

.main_image{
  width: 155%;
  height: 650px;
  margin-left: -249px;
  display: block;
}

.dropbtn {
  background-color: inherit;
  color: #313149;
  margin-right: 20px;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 40px;
  display: inline-block;
  font-size: 15px;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
}

.dropbtn:hover{
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.showcase-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding-top: 100px;
  }
  .brand-container {
    display: flex;
    justify-content: center; /* centers the items horizontally */
    align-items: center;
    gap: 20px; /* adds space between brand-wrapper elements */
    flex-wrap: wrap; /* allows wrapping if there are many items */
    margin-top: 10px;
  }

footer{
  position: absolute;
  width: 100vw;
  left: 0;
  margin-top: auto;
  padding: 40px;
  background-color: rgb(26, 26, 26);
  color: white;
  user-select: none;
}
footer > p{
  max-width: 40ch;
}

.about-page{
  text-align: center;
  padding-top: 150px;
  font-size: 20px;
}

.main_page_products{
  
}
.main_page_wrapper{

}
.google_maps{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 82, 82);
  height: 300px;
  width:100vw;
  margin-left: 0;
  position: absolute;
  left: 0;

}
.location-icon{
  fill: white;
  width: 100px;
  height: 100px;
  stroke: black;
}
.location{
  font-size: 23px;
  color: white;
  margin-right: 20px;
  font-weight: bolder;
  text-shadow: 0px 0px 4px black;
  margin-bottom: 50px;
}
.map{
  border: 0;

}
.img_product_wrapper{
  display: flex;

}
.img_product_wrapper > span,
.img_product_wrapper > a{
  font-size: 30px;
  font-weight: bolder;
}

.img-slider-img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.img-slider-button{
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}
.end-of-page{
  margin-top: 300px;
}
.img-slider-button:hover,
.img-slider-button:focus-visible{
  background-color: rgb(0,0,0,0.2);
}

.img-slider-button > *{
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

.img-slider-dot-button{
  all: unset;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-button > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.img-slider-dot-button:hover,
.img-slider-dot-button:focus-visible{
  scale: 1.2;
}

.img-slider-button:focus-visible,
.img-slider-dot-button:focus-visible{
  outline: auto;
}

.dealer-slider-img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 20px;
  user-select: none;
}

.details-page{
  display: flex;
  margin-top: 120px;
  font-weight: bold;
}
.details-page > h1{
  
}
.details-product-name{
  display: flex;
  justify-content: center;
  width: 480px;
  margin: 0;
  font-weight: lighter;
  background-color: rgb(255, 82, 82);
  color: white;
  font-size: 25px;
  border-top-right-radius: 20px;
}


.list-wrapper{
  font-size: 12px;
/*line-height: 35px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;*/
  display: flex;
  flex-direction: column;

  height: 555px;
}
/*
.list-wrapper > ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
}*/

.features{
  width: 480px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: lighter;
  background-color: rgb(251, 122, 122);
  color: rgb(255, 255, 255);
}

.sizes,.sizes-title{
  color: white;
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
  display: flex;
  width: 480px;
  justify-content: space-around;
}
.list-wrapper{

}
.listTitle, .listValue{
  margin: 10px 0px;
  padding: 0;
  list-style-type: none;
}
.listTitle{
  padding-left: 15px;
}
.listValue{
  padding-right: 15px;
}
.list-pair{
  display: flex;
  border: 2px 2px 2px black;
  justify-content: space-between; /* Adjust spacing between listTitle and listValue */
}

.details-img{
  width: 475px;
  height: 475px;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: contain;
}
.details-info{

    display: flex;
    flex-direction: column;
  height: 555px;
}

.brand-product-container{
  position: relative;
  padding-top: 150px;
  width: 300px;
  height: auto;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.brand-product-img{
  position: relative;
  width: 300px;
  height: 300px;
  object-fit:cover;
}
.brand-product-text{
  width: auto;
  margin: 0;
  color: white;
  text-shadow: 0px 0px 4px black;
}

.popular-pages{
  margin-top: 20px;
  height: 100%;
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  gap: 25px;
}

.popular-pages img{
  display: block;
}

.popular-pages a{
  text-decoration: none;
}

.popular-name{
  height: 30px;
  margin: 0;
  background-color: black;
  color: white;
  line-height: 30px;
  text-align: center;
}

.mini-title{
  height: 50px;
  line-height: 50px;
  margin: 0;
  background-color: rgb(255, 82, 82);
  color: white;
  width: 100%;
}